---
import { getCollection, getEntry, render } from "astro:content";
import "../../styles/global.css";
import NavMenu from "../../components/main/menu";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<html lang="es" class="dark">
    <head>
        <meta charset="utf-8" />
        <meta
            name="description"
            content="Leonardo Castro, desarrollador de software con experiencia en tecnologías web como Go, React y bases de datos. Descubre mi experiencia en desarrollo full stack y proyectos innovadores."
        />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{post.data.title}</title>
        <script>
            if (localStorage.theme === "dark") {
                document.documentElement.classList.add("dark");
            } else if (localStorage.theme === "light") {
                document.documentElement.classList.remove("dark");
            } else {
                if (
                    !("theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches
                ) {
                    document.documentElement.classList.add("dark");
                } else {
                    document.documentElement.classList.remove("dark");
                }
            }
        </script>
    </head>
    <body
        class="text-[#080808] bg-[#EEF0F2] dark:text-[#EEF0F2] dark:bg-[#080808]"
    >
        <main>
            <section class="box mx-auto px-4 md:px-0 py-16 md:pt-24">
                <article class="border border-[#a9b4c6] border-dashed">
                    <div
                        class="pt-16 px-4 pb-4 border-b border-[#a9b4c6] border-dashed relative"
                    >
                        <div class="bg-square"></div>
                        <h1 class="text-4xl">{post.data.title}</h1>
                    </div>
                    <div class="px-4 py-16">
                        <Content />
                    </div>
                </article>
            </section>
        </main>
        <NavMenu client:visible />
    </body>
</html>
<style is:global>
    @import url("https://www.nerdfonts.com/assets/css/webfont.css");
    @import url("https://fonts.googleapis.com/css2?family=Share+Tech&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }

    html {
        font-family: "Red Hat Text", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }

    .box {
        max-width: 850px;
        margin: 0 auto;
    }

    .granulado {
        background-color: transparent;
        background-image:
            radial-gradient(
                circle,
                #1c1c1c,
                #29353b,
                #263a3d,
                #304b4a,
                #3a5a4d
            ),
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
        background-repeat: repeat;
        background-size: 182px;
        background-blend-mode: color-burn;
        opacity: 0.05;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: -1;
    }

    .bg-square {
        background-color: transparent;
        opacity: 0.8;
        background-image:
            linear-gradient(#a9b4c6 1px, transparent 1px),
            linear-gradient(to right, #a9b4c6 1px, transparent 1px);
        background-size: 20px 20px;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        opacity: 0.1;
    }

    .share,
    h1,
    h2,
    h3 {
        font-family: "Tomorrow", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .license {
        position: absolute;
        top: 0;
        left: -20px;
        font-family: "Share Tech", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 5rem;
        z-index: -1;
        opacity: 0.1;
        transform: rotateZ(-90deg);
    }
</style>
