---

---

<footer class="px-4 py-6 border border-[#a9b4c6] border-dashed">
    <p class="text-center">
        <span>Leonardo Castro </span>
        <i class="nf nf-fa-heart"></i>
        <span
            >Hecho con <a
                class="hover:text-green-700 transition-all duration-200"
                target="_blank"
                href="http://astro.build">Astro</a
            ></span
        >
    </p>
</footer>
