name: Build & Deploy
# Creating a new workflow to import build to my own VPS
on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: npm

            - name: Install deps
              run: npm ci

            - name: Build
              run: npm run build

            - name: Deploy dist to VPS
              uses: appleboy/scp-action@v0.1.7
              with:
                  host: ${{ secrets.VPS_HOST }}
                  username: ${{ secrets.VPS_USER }}
                  key: ${{ secrets.VPS_SSH_KEY }}
                  source: "dist/*"
                  target: "/opt/infra/nginx/www/main"
                  strip_components: 1
